*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}
.navbar{
    height: 70px;
    padding: 5px;
    background-color: rgb(249, 240, 240);
    color: rgb(78, 54, 54);
    position: sticky;
    top: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-left: 1080px;
}
li{
    display: inline;

}
a{
    text-decoration: none;
    color: rgb(78, 54, 54);
    padding: 20px;
}
a:hover{
    background-color: rgb(78, 54, 54);
    color: rgb(249, 240, 240);  
    border-radius: 10px;
}
.image1{
    height: 400px;
    width: 400px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 20px;
}
.image1:hover{
    box-shadow: 5px 5px 100px white;
}
.content1{
    color: rgb(109, 84, 84);
    padding: 75px;
}
p{
    color: rgb(240, 213, 213);
    margin-top: 100px;
}
.Topic1{
    display: inline;
}
.content {
    display: flex;
}
@media (max-width: 600px){
    .navbar{
        height: 70px;
        width: 410px;
        /* padding: 5px; */
        background-color: rgb(249, 240, 240);
        color: rgb(78, 54, 54);
        position: sticky;
        top: 0;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 2px;
        margin-top: 25px;
        margin-left: 5px;
    }
    a{
        text-decoration: none;
        color: rgb(78, 54, 54);
        padding: 15px;
    }
    .image1{
        height: 200px;
        width: 200px;
        margin-top: 25px;
        margin-left: 120px;
        border-radius: 10px;
    }
    .image1:hover{
        box-shadow: 5px 5px 100px white;
    }
    .content1{
        color: rgb(109, 84, 84);
        padding: 10px;
        font-size: xx-small;
        margin-top: 15px;
    }
    p{
        color: rgb(240, 213, 213);
        margin-top: 30px;
    }
    .Topic1{
        display: block;
    }
    .content{
        display: inline;
    }
    .content1 h1{
        color: wheat;
        font-size: small;
        font-weight: bolder;
        
    }
}
